@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ebf3f7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em 1em;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    letter-spacing: 12px;
    color: #6ba3bc;
    margin-bottom: 0.5em;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    font-size: 20px;
    color: #292929;
    min-width: 300px;
    text-align: center;
    letter-spacing: 1px;
}

#flip-btn,
#restart-btn {
    border: none;
    cursor: pointer;
    background-color: #ebf3f7;
    color: #6ba3bc;
    margin: 5px;
    font-size: 1.25em;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: bold;
}

/* GAMEBOARDS */

.gameboards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 8em;
    flex-wrap: wrap;
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.board div {
    box-sizing: border-box;
    width: 10%;
    height: 35px;
    border: 1px solid #d5e5ec;
    cursor: pointer;
    background-color: white;
}

.board div:hover {
    background-color: #ebebeb;
}

#player-one,
#player-two {
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    border: 2px solid #2c7b9f;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-width: 350px;
    width: 350px;
}

/* SHIPS */

[data-cell*='ship'] {
    background-color: #b8b8b8 !important;
    border: 1px solid #7a7a7a !important;
}

.carrier {
    min-width: 150px;
}

.battleship {
    width: 120px;
}

.destroyer,
.submarine {
    width: 90px;
}

.cruiser {
    width: 60px;
}

.carrier,
.battleship,
.destroyer,
.submarine,
.cruiser {
    height: 30px;
    background-color: #b8b8b8;
    margin: 10px 0 0;
    border: 2px solid #7a7a7a;
}

.carrier:hover,
.battleship:hover,
.destroyer:hover,
.submarine:hover,
.cruiser:hover {
    opacity: 0.8;
    cursor: grab;
}

/* HITS */

[data-cell*='hit'] {
    position: relative;
    pointer-events: none;
}

[data-cell*='hit']::before,
[data-cell*='hit']::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    background-color: #ed2b2a;
}

[data-cell*='hit']::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

[data-cell*='hit']::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* MISSED */

[data-cell*='miss'] {
    position: relative;
    pointer-events: none;
}

[data-cell*='miss']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #84b3c7;
}


/* FOOTER */

footer {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #555555;
    gap: 10px;
    padding: 1em 0 0.5em;
    letter-spacing: 2px;
}

.fa-github {
    font-size: 20px;
    color: #555555;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
    .title {
        font-size: 1.5em;
    }
}

@media (max-width: 843px) {
    .gameboards {
        gap: 1em;
    }
}